<h1>Listando Categorias</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Exibir', category %></td>
    <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <td><%= link_to 'Deletar', category, confirm: 'Confirma a exclusao?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Categoria', new_category_path %>
